body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: black;
  color: rgb(255, 255, 255);
}

#board {
  background-color: rgb(0, 0, 0);
  border: 5px solid rgb(204, 255, 0);
}
