Html,
Body {
  overscroll-behavior: none;
  font-family: "paradroid-mono-soft", sans-serif;
  font-weight: 300;
  font-style: normal;
}
body {
  background-image: repeating-linear-gradient(
    to bottom,
    #0033ff,
    white,
    white,
    #ee00ff
  );
}

/*********** Baseline, reset styles ***********/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 18rem;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #0433ff;
  border-radius: 0rem;
  height: 0.4rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -8.8px; /* Centers thumb on the track */
  background-color: #ff40ff;
  border-radius: 0rem;
  height: 1.5rem;
  width: 1.5rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: 3px solid #ff40ff;
  outline-offset: 0.125rem;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: #0433ff;
  border-radius: 0rem;
  height: 0.4rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  background-color: #ff40ff;
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0rem;
  height: 1.5rem;
  width: 1.5rem;
}

input[type="range"]:focus::-moz-range-thumb {
  outline: 3px solid #ff40ff;
  outline-offset: 0.125rem;
}
